.container {
  .content-container {
    width: 100%;
  }
  .nav-left {
    background-color: #001529;
    min-height: 100vh;
  }
  .main {
    background-color: #f1f3f5;
    .content {
      padding: 20px;
      background-color: #f1f3f5;
    }
  }
}

.card-wrap {
  margin-bottom: 20px;
  button {
    margin-right: 20px;
  }
}
